.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUBF0O30HZpjkfddA0Pe1owIw1iX5UCbPCsTVp5tg-IuaHgmrjXg');
    background-size: cover;
  }